<div id="page_wrapper">
	<div id="profile_image">
		<img src = "http://www.mauricemcerlean.com/img/header/me.png" style="text-align: left" width="20%">
	</div>

	<div id="content">
		<h1>Welcome to my blog!</h1>
		<p>My name is Maurice and I'm from Ballymena in Northern Ireland and I'm currently a second year student studying Interactive Multimedia Design at the University of Ulster in Jordanstown. I decided that this was the right career move for me because I am passionate about coding and design.</p>
		
		<p>I like to be creative and as someone who develops websites, this is very important because it gives me a chance to create interesting websites.</p>

		<p>Creating websites is something I really enjoy, and I love that I can add my passion for Photography into my skill set.</p>
	</div>
</div>